<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home || Nox Transport</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body>
  <!-- MAIN CONTENT HEADER -->
<div class="jumbotron text-center" style="margin-bottom:0; background: url(../assets/Wallpaper.jpg),center;">
  <h1>Welcome to <kbd>NOX</kbd> Transport</h1>
  <p>The best taxi dive enterprise in Cameroon.</p> 
  <small>We are because you are!</small>
</div>
<!--Navigation Bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-0">
  <a class="navbar-brand" href="#"><Kbd>NOX</Kbd> Transport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/App.html"><i class="fa fa-map" aria-hidden="true"></i> Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-users" aria-hidden="true"></i> Services</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="../views/Error.html"><i class="fa fa-resistance" aria-hidden="true"></i> Reservation</a>
      </li> 
      <button type="button" class="btn btn-light text-secondary"><a href="../views/login.html" class="text-decoration-none"><i class="fa fa-user" aria-hidden="true"></i> SIGN UP</a></button>
    </ul>
  </div>  
</nav>
<h1 class="text-center text-light bg-dark mt-1 mb-1 p-2"> Our services </h1>
<!--CONTENT 1-->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#section1">Section 1 \</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section2">Section 2 \</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section3">Section 3 </a>
        </li>
      </ul>
    </nav>
    
    <div id="section1" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
      <section id="learn" class="p-5">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="../assets/icons/fundamentals.svg" class="img-fluid" alt="" />
            </div>
            <div class="col-md p-5">
              <h2>Learn The Fundamentals</h2>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Similique deleniti possimus magnam corporis ratione facere!
              </p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                reiciendis eius autem eveniet mollitia, at asperiores suscipit
                quae similique laboriosam iste minus placeat odit velit quos,
                nulla architecto amet voluptates?
              </p>
              <a href="#" >
                <button class="btn btn-primary mt-3">Read more</button>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="section2" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
      <section id="learn" class="p-5 bg-dark text-light">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
              <h2>Language use</h2>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Similique deleniti possimus magnam corporis ratione facere!
              </p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                reiciendis eius autem eveniet mollitia, at asperiores suscipit
                quae similique laboriosam iste minus placeat odit velit quos,
                nulla architecto amet voluptates?
              </p>
              <a href="#" class=" mt-3">
                <button class="btn btn-primary">Read more</button>
              </a>
            </div>
            <div class="col-md">
              <img src="../assets/icons/showcase.svg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="section3" class="container-fluid ">
      <section id="learn" class="p-5">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="../assets/proposed logo.PNG" class="img-fluid" alt="" />
            </div>
            <div class="col-md p-5">
              <h2>Our parteners</h2>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Similique deleniti possimus magnam corporis ratione facere!
              </p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                reiciendis eius autem eveniet mollitia, at asperiores suscipit
                quae similique laboriosam iste minus placeat odit velit quos,
                nulla architecto amet voluptates?
              </p>
              <a href="#" class=" mt-3">
                <span class="btn btn-primary">Read more</span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section id="learn" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>Using other languages</h2>
            <p class="lead">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Similique deleniti possimus magnam corporis ratione facere!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
              reiciendis eius autem eveniet mollitia, at asperiores suscipit
              quae similique laboriosam iste minus placeat odit velit quos,
              nulla architecto amet voluptates?
            </p>
            <a href="#" class=" mt-3">
              <span class="btn btn-primary">Read more</span>
            </a>
          </div>
          <div class="col-md">
            <img src="../assets/icons/react.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
<!--FOOTER-->
<div class="jumbotron text-center mt-0 bg-secondary" style="margin-bottom:0; background: transparent;">
    <p >© NOX Transport. All rights reserved.</p>
    <ul class="footer__nav ">
      <a href="../index.html" class="p-3 text-dark">Home</a>
      <a href="./App.html"  class="p-3 text-dark">Map</a>
      <a href="./services.html" class="p-3 text-dark">Services</a>
      <a href="./Reservation.html"  class="p-3 text-dark">Reservation</a>
    </ul>
  </div>
  
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/countAnime.js"></script>
</html>